body {
    background-color: #303030;
    color: #E0FFE0;
    font-family: sans-serif;
}

img.main-img {
    height: 100px;
}

h1{
    align-self: center;
}

div.labs-menu a{
    text-decoration: none;
    color: #E0FFE0;
    background-color: #303030;
    padding: 2px 6px 2px 6px;
    border: 1px solid #333333;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
}

div.labs-menu a:hover{
    color: #303030;
    background-color: #E0FFE0;
}

div.labs-menu li{
    list-style-type: none;
    padding-bottom: 3%;
}

div.labs-menu {
    float: left;
}

div.content {
    float: left;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: #E0FFE0;
}

div.text-container {
    border: 1px solid #305030;
}